test_GPU.ipynb
note.ipynb
speech-emotion-recognition.ipynb
app copy.py
app_v1.0.py
/home/levi/Workspaces/ML/SER/result.log
/home/levi/Workspaces/ML/SER/result_final.log
/home/levi/Workspaces/ML/SER/app_audio_7s.log
/home/levi/Workspaces/ML/SER/app.log
/home/levi/Workspaces/ML/SER/tess_word.csv